*{
    margin: 0;
    padding: 0;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

}
body{
    background-color: black;
}

.main{
    background-image: url(images/background_image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 95vh;
    position: relative;
}
.main .box{
    height: 95vh;
    width: 100%;
    opacity: 0.64;
    background-color: black;
    position: absolute;
    top: 0;
}
.navbar{
    max-width: 70vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 99px;
}
.logoimg img{
    width: 200px;
    position: relative;
    z-index: 10;
}

.navbar .nav2 .btn1{
    display: flex;
    gap: 7px;
    position: relative;
    z-index: 10;
    padding: 4px 17px 4px 17px;
    /* opacity: 0.2; */
    /* background-color: black; */
    color: white;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 17px;
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}
.navbar .nav2 .btn1 .translate{
    background-color: white;;
}
.navbar .nav2 .btn2{
    padding: 8px 18px 8px 18px;
    background-color: red;
    border: none;
}
.nav2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.hero{
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    padding: 0 30px;
    /* max-width: 47vw;
    margin:auto; */
    /* align-self: start; */
    /* align-content: center; */
    text-align: center;
    /* line-height: 4; */
}

.hero .head1{
    font-weight: 900;
    font-size: 56px;
    line-height: 70px;
    /* padding-bottom: 30px; */
}
.hero .head2{
    font-weight: 500;
    font-size: 20px;
    /* padding-bottom: 120px; */
}
.hero .head3{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* padding-bottom: 50px; */
}
.hero .flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    
}
.hero .flex .inpt{
    width: 500px;
    height: 40px;
    padding: 12px;
    /* opacity: 0.2; */
    background-color: rgba(0,0,0,0.4);
    /* background-color: black; */
    border: 1px solid white;
    border-radius: 5px;
    flex-wrap: wrap;
    position: relative;
    /* align-items: center; */
}
.hero .flex .getstart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: red;
    padding: 16px 30px 16px 30px;
    width: 200px;
    border-radius: 5px;
}
.flex .inpb{
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
}
.highlight-line{
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #ff0000, #ff4d4d, #ff0000);
    border-radius: 50%/100%;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.6);
    margin-bottom: 20px;
    z-index: 10;
}


